[color]
	ui = true
[user]
	name = r1kibiit 
	email = r1kibiit@gmail.com 
[alias]
	di = diff --color-words
	st = status
	ci = commit
	sh = show
	br = branch
	co = checkout
	sb = show-branch
	ov = log --graph --stat --date-order ; ov means `overview'
	dlog =  log --graph --oneline --decorate=full
    ec = !git commit --allow-empty -m \"Make PR\"
    mkpr = !"f() { git checkout -b $1; git ec; git push -u origin $1; hub pull-request; }; f"

[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	whitespace = cr-at-eol
	pager = less
    editor = vim
[ghq]
    root = ~/.ghq
    root = ~/go
[hub]
	protocol = https
